In [1]:
#load the data
import pandas as pd
jeopardy = pd.read_csv("jeopardy.csv")
jeopardy.head(10)

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel

In [2]:
print(jeopardy.columns)

Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [3]:
#clean the data
jeopardy.rename(columns = {
  ' Air Date' : 'Air Date',
  ' Round' : 'Round',
  ' Category' : 'Category',
  ' Value' : 'Value',
  ' Question' : 'Question',
  ' Answer' : 'Answer'  
  },
  inplace = True)


print(jeopardy.columns)

Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [4]:
print(jeopardy.head())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            question      answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [5]:
print(jeopardy.dtypes)

show_number     int64
air_date       object
round          object
category       object
value          object
question       object
answer         object
dtype: object

In [6]:
#search via question
def filtered_data(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data['question'].apply(filter)]

filtered = filtered_data(jeopardy, ["King", "England"])
print(filtered)

        show_number    air_date             round  \
4953           3003  1997-09-24  Double Jeopardy!
6337           3517  1999-12-14  Double Jeopardy!
9191           3907  2001-09-04  Double Jeopardy!
11710          2903  1997-03-26  Double Jeopardy!
13454          4726  2005-03-07         Jeopardy!
...             ...         ...               ...
150622         1150  1989-09-08  Double Jeopardy!
150640         1150  1989-09-08  Double Jeopardy!
150880         4790  2005-06-03  Double Jeopardy!
151335         4289  2003-04-03         Jeopardy!
151746          314  1985-11-21         Jeopardy!

                            category  value  \
4953                    "PH"UN WORDS   $200
6337                             Y1K   $800
9191                  WON THE BATTLE   $800
11710               BRITISH MONARCHS   $600
13454          A NUMBER FROM 1 TO 10  $1000
...                              ...    ...
150622               BRITISH ROYALTY   $200
150640               BRITISH ROYALTY   $800
150880  20th CENTURY BRITISH HISTORY  $1200
151335                   LOTTO FEVER  $1000
151746                NURSERY RHYMES   $300

                                                 question  \
4953    Both England's King George V & FDR put their s...
6337    In retaliation for Viking raids, this "Unready...
9191    This king of England beat the odds to trounce ...
11710   This Scotsman, the first Stuart king of Englan...
13454   It's the number that followed the last king of...
...                                                   ...
150622  The only king of England named Stephen was the...
150640          England had this many kings named Richard
150880  During Stanley Baldwin's term as P.M., this Ki...
151335  2000 saw a fight in England over running the l...
151746  Colchester, England was named for this legenda...

                              answer
4953    Philately (stamp collecting)
6337                        Ethelred
9191                         Henry V
11710                        James I
13454                              4
...                              ...
150622         William the Conqueror
150640                             3
150880              King Edward VIII
151335               Richard Branson
151746                 Old King Cole

[106 rows x 7 columns]

In [7]:
#remove $ + convertion to a float
jeopardy['value'] = jeopardy['value'].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)


print(jeopardy.head())

   show_number    air_date      round                         category  value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  200.0
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  200.0
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  200.0
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  200.0
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  200.0

                                            question      answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [8]:
print(jeopardy.dtypes)

show_number      int64
air_date        object
round           object
category        object
value          float64
question        object
answer          object
dtype: object

In [9]:
#find average value of the world which involve word king
filtered = filtered_data(jeopardy, ["king"])
print(filtered['value'].mean())

774.9714285714285

In [10]:
def answer_counts(data):
    return data['answer'].value_counts()

print(answer_counts(filtered))

Henry VIII                         40
Solomon                            27
Louis XIV                          24
Richard III                        23
Sweden                             21
                                   ..
chocolate                           1
camel                               1
Betty Crocker                       1
Halle Berry                         1
Union Pacific & Central Pacific     1
Name: answer, Length: 3929, dtype: int64